<h1>Declaración de Política y Divulgación</h1>

<p>LUCHA es una organización sin fines de lucro, aprobada por HUD, que ofrece gratuitamente servicios de consejería de vivienda. Otros servicios provistos por LUCHA: consejería de prevención de embargo, educación o consejería de prime- ros compradores de casa, asesoramiento de hipoteca inversa, asistencia de vivienda, vivendas de alquiler asequible, asis- tencia de renta, servicios de apoyo.
LUCHA asiste a los propietarios que pueden experimentar dificultad para mantener su hipoteca y que pueden estar atra- sados en sus pagos de hipoteca. Proporcionamos asesoría para la Prevención de Embargo Hipotecario a los propietarios de vivienda que están destrizados, a través de asistencia técnica, las referencias a los recursos disponibles, y la consejería de la prevención de ejecución hipotecaria. LUCHA puede proporcionar información que incluye, pero no está limitado a la explicación del proceso y los conceptos de propiedad de vivienda. Los propietarios tienen derecho a presentar una solicitud para cualquier institución crediticia, incluso si LUCHA cree que el propietario no califica. LUCHA también puede proporcionar remisiones a varios proveedores de servicios, incluidos las organizaciones de asistencia legal.
LUCHA tiene afiliaciones financieras con el U.S. Department of Housing and Urban Development (HUD), Illinois Housing Authority Development (IHDA), Freddie Mac, City of Chicago Department of Planning and Development y otros socios bancarios. Como participante del programa de consejería de vivienda, usted no está obligado a usar los pro- ductos y servicios de LUCHA o de nuestros socios de la industria. LUCHA asegura que los empleados/voluntarios que proveen consejería de vivienda bajo del programa de National Foreclosure Counseling Mitigation and Making Homes Affordable Outreach no tienen conflictos de interés por cualquier relación como los agentes de bienes raíces, prestamis- tas, o otros socios/instituciones que tienen oportunidad de recibir beneficios de los resultados de consejería.
LUCHA no se hace responsable de garantías, reclamaciones, garantías y avales sobre esta información o cualquier reco- mendación hecha por LUCHA. Todas las decisiones finales sobre el proceso de compra de una casa son la responsabili- dad de los compradores. LUCHA también LUCHA no puede otorgar préstamos hipotecarios o compromisos y no garan- tiza la aceptación en cualquier particular de los programas de préstamos. LUCHA no puede prometer cualquier préstamo específico de los términos o condiciones. LUCHA no es un agente de cualquier institución financiera.
Leyes federales y estatales protegen los derechos de todas las personas a elegir su vivienda, sin distinción de raza, color, religión, origen nacional, sexo, discapacidad, y/o situación familiar. Si usted cree haber sido víctima de discriminación ilegal, por favor notifique a LUCHA y nosotros le daremos los nombres de las organizaciones que pueden ayudarle a proteger sus derechos.</p>

<h1>Póliza De Privacidad</h1>

<p>Latin United Community Housing Association (LUCHA) se compromete en asegurar la privacidad de los individuales y/o familias que nos han contactado para algún asesoramiento o asistencia. Entendemos que las preocupaciones que comparten con nosotros son de naturaleza muy personal y le aseguramos que toda la información comunicada oralmente o por escrito será tratada con confidencialidad dentro de altos parámetros legales y éticos para la protección de su identi- dad. Su “información personal” como sus circunstancias económicas, será solamente provisto a prestamistas, agencias crediticias, auditores de los programas, y otras agencias que usted autorice por medio de la firma usada en la Autoriza- ción y Exención de Derechos de Confidencialidad a Latin United Community Housing Association. También es posible que usemos anónimamente información de casos agregadas para el uso de evaluar nuestros servicios, acumular informa- ción significativa y diseñar programas en el futuro.</p>

<h3>
Tipos de información que acumulemos de usted:</h3>
<ul>
  <li>Información provista por usted oralmente, en la aplicación y en otras formas, incluyendo datos como su nombre, dirección, datos demográficos, número de seguridad social, ascetas e ingresos.</li>
  <li>Información de transacciones con nosotros, acreedores u otras agencias, como estados de cuenta del banco, historia de pagos, transacciones de tarjetas de crédito, historia de crédito.</li>
</ul>
<h3>Opción de excluir cierta información:</h3>
<ul>
  <li>Usted puede optar por excluir alguna de las informaciones de uso no público a terceros, tales como sus acreedores . Para esto, debe notificarnos a quien quiere excluir o a quien no debemos enviar dicha información.</li>
  <li>Si quiere negar la autorización a terceros, no vamos a poder responder a las preguntas de sus acreedores. Si en algún momento, le gustaría cambiar su decisión de autorizarnos, nos puede llamar a 773-489-8484.</li>
</ul>
<h3>Distribución de información a terceras personas:</h3>
<ul>
  <li>A menos que no haya optado por ninguna exclusión, podremos compartir o proveer con alguna o con toda la infor- mación personal que nos suministró anteriormente, a sus acreedores o terceras personas con el fin de ayudarlo a de- terminar la mejor alternativa para su caso, para proveerle de una asesoría más acertada o con el fin de cumplir con los requisitos para recibir fondos que hacen nuestros servicios posibles. </li>
  <li>También podríamos divulgar cualquier información personal “no publica” sobre usted u otros clientes según sea per- mitido por la ley (por ejemplo, si estamos obligados por el proceso legal).</li>
  <li>Dentro de nuestra organización, limitamos el acceso a su información personal a los empleados que no necesitan saber dicha información para darle servicios. Mantenemos altos estándares de seguridad físicos y electrónicos que cumplen con las regulaciones federales para proteger su información personal.
  </li>
</ul>
