<h1>Policy and Disclosure Statement</h1>

<p>LUCHA is a HUD-approved Non-Profit Organization that offers free Housing Counseling services. Complete list of ser- vices provided by LUCHA: foreclosure intervention counseling, pre-purchase education/counseling, reverse mortgage counseling, senior home repairs, affordable rental housing, emergency rental assistance, supportive housing services.
LUCHA Housing Counseling and Advocacy assists homeowners who may be experiencing difficulty maintaining their mortgage and who may be delinquent on their mortgage payments. We provide Foreclosure Prevention Counseling to distressed homeowners through technical assistance, referrals to available resources, and complete Foreclosure Preven- tion and/or delinquency counseling. LUCHA may provide information which includes, but is not limited to, explanation of the foreclosure process and concepts. Homeowners have a right to submit an application to any lending institution, even if LUCHA believes that the homeowner does not qualify for the loan program. LUCHA may also provide referrals to homeowner service providers including legal aid organizations.
LUCHA has financial affiliations with the US Department of Housing and Urban Development (HUD), Illinois Housing Authority Development (IHDA), Freddie Mac, City of Chicago Department of Planning and Development and select bank partners. As a housing counseling participant, you are not obligated to use the products and services of LUCHA or our industry partners. LUCHA certifies that its staff and volunteers will provide foreclosure intervention counseling un- der the National Foreclosure Counseling Mitigation Program and Making Homes Affordable Outreach program have no conflicts of interest due to any other relationships with servicers, real estate agencies, mortgage lenders or other entities/ industry partners that may stand to benefit from particular counseling outcomes.
LUCHA makes no warranties, claims, guarantees or endorsements regarding this information or any referral made by LUCHA. All final decisions regarding the foreclosure mitigation process rest with the homeowner. LUCHA cannot make mortgage loans or commitments and does not guarantee acceptance into any particular loan programs. LUCHA cannot promise any specific loan terms or conditions. LUCHA is not an agent of any financial institution.
Federal and state laws protect the rights of all persons to choose housing without regard to race, color, religion, national origin, sex, handicap, and/or familial status. If you believe you have been a victim of illegal discrimination, please notify LUCHA and we will provide you with the names of organizations that can help you protect your rights.</p>

<h1>Privacy Policy</h1>

<p>LUCHA is committed to assuring the privacy of individuals/families who have contacted us for assistance. We realize that the concerns you bring to us are highly personal in nature. We assure you all information shared orally and in writing will be managed within legal and ethical consideration. Your “nonpublic personal information,” such as your financial circumstances, will be provided to creditors, program monitors, and others only with your authorization and signature on the Authorization and Waiver of Confidentiality form. We may also use anonymous aggregated case file information for the purpose of evaluating our services, gathering valuable research information, and designing future programs.</p>

<h3>
Types of Information that we gather about you:</h3>
<ul>
  <li>Information we receive from you orally, on applications or via other forms, such as your name, address, SSN, de- mographics, assets and income; etc.</li>
  <li>Information about your transactions with us, your creditors or others, such as your account balance, payment history, parties to transactions, information from a credit reporting agency, such as your credit history.</li>
</ul>
<h3>You may opt out of certain disclosure:</h3>
<ul>
  <li>You have the opportunity to opt-out of disclosure of your nonpublic personal information to third parties (such as your creditors) by directing us not to make these disclosures.</li>
  <li>If you choose to opt-out, we will not be able to answer questions from your creditors. If at any time you wish to change your decision with regard to your opt-out, you may call us at 773-489-8484 and do so.</li>
</ul>
<h3>Release of information to third parties:</h3>
<ul>
  <li>If you have not opted-out, we disclose some or all of information that we collect, as described above, to your credi- tors or third parties where we have determined that it would be helpful to you, would aid us in counseling you or is a requirement of grant awards which make our services possible.</li>
  <li>We may also disclose any nonpublic personal information about you or former clients to anyone as permitted by law (e.g. if we are compelled by the legal process).</li>
  <li>Within the organization, we restrict access to nonpublic personal information about you to those employees who do not need to know that information to provide services to you. We maintain physical, electronic and procedural safe- guards that comply with federal regulations to guard your nonpublic personal information.
  </li>
</ul>
