<table class="table table-hover">
	<tr>
		<th colspan="2"><h3>Assets</h3></th>
	<tr>
		<td>Primary Checking:</td>
		<td><input type="text" ng-model="primary_checking"></td>
	</tr>
	<tr>
		<td>Secondary Checking:</td>
		<td><input type="text" ng-model="secondary_checking"></td>
	</tr>
	<tr>
		<td>Savings/Money Market:</td>
		<td><input type="text" ng-model="savings_money_market"></td>
	</tr>
	<tr>
		<td>Stocks or Bonds:</td>
		<td><input type="text" ng-model="stocks_or_bonds"></td>
	</tr>
	<tr>
		<td>401K:</td>
		<td><input type="text" ng-model="four_zero_one_k"></td>
	</tr>
	<tr>
		<td>Home Equity:</td>
		<td><input type="text" ng-model="home_equity"></td>
	</tr>
	<tr>
		<td>Value of Other Properties:</td>
		<td><input type="text" ng-model="other_property"></td>
	</tr>
	<tr>
		<td>Car Value:</td>
		<td><input type="text" ng-model="car"></td>
	</tr>
	<tr>
		<td>Other Assets:</td>
		<td><input type="text" ng-model="other_assets"></td>
	</tr>
</table>
