<table class="table table-hover">
	<tr>
		<th colspan="2" text-align: center ><h3>Monthly Debt Payments</h3></th>
	</tr>
	<% counter = 18 %>
	<tr>
		<td>Principal and Interest:</td>
		<td><input type="text" ng-model="principal_and_interest"></td>
	</tr>
	<tr>
		<td>Property Taxes:</td>
		<td><input type="text" ng-model="prop_tax"></td>
	</tr>
	<tr>
		<td>Association Fees:</td>
		<td><input type="text" ng-model="assoc_fees"></td>
	</tr>
	<tr>
		<td>Junior Mortgage:</td>
		<td><input type="text" ng-model="junior_mortage"></td>
	</tr>
	<tr>
		<td>Minimum Monthly Credit Card Payments</td>
		<td><input type="text" ng-model="min_credit_card_payment"></td>
	</tr>
	<tr>
		<td>Student Loan</td>
		<td><input type="text" ng-model="student_loan"></td>
	</tr>
	<tr>
		<td>Gas</td>
		<td><input type="text" ng-model="gas"></td>
	</tr>
	<tr>
		<td>Electricity</td>
		<td><input type="text" ng-model="electricity"></td>
	</tr>
	<tr>
		<td>Water</td>
		<td><input type="text" ng-model="water"></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><input type="text" ng-model="phone"></td>
	</tr>
	<tr>
		<td>Other Utilities</td>
		<td><input type="text" ng-model="other_utilities"></td>
	</tr>
	<tr>
		<td>Food/Groceries</td>
		<td><input type="text" ng-model="food"></td>
	</tr>
	<tr>
		<td>Gas and car maintenance</td>
		<td><input type="text" ng-model="gas_car_maintenance"></td>
	</tr>
	<tr>
		<td>Child Care</td>
		<td><input type="text" ng-model="child_care"></td>
	</tr>
	<tr>
		<td>Medical Expenses</td>
		<td><input type="text" ng-model="medical_expenses"></td>
	</tr>

	<tr>
	<th colspan="2">Only if you are a renter, please fill out the below</th>
	</tr>
	<tr>
		<td>Rent</td>
		<td><input type="text" ng-model="rent"></td>
	</tr>
	<tr>
		<td>Rental insurance</td>
		<td><input type="text" ng-model="rental_insurance"></td>
	</tr>
</table>