<h3>
  <div class="col-md-4">
    <div class="form-group">
    	<label><%= I18n.t "budget_debts.gross_monthly" %></label><br>
    	<td><strong class="text-success">{{ grossMonthlyIncome | currency}}</strong></td>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    	<label><%= I18n.t "budget_debts.total_monthly" %></label><br>
    	<td><strong class="text-danger">{{ totalMonthlyDebt | currency }}</strong></td>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
    	<label><%= I18n.t "budget_debts.debt_to_income" %></label><br>
    	<td ng-if="grossMonthlyIncome > 0"><strong>{{ (totalMonthlyDebt / grossMonthlyIncome).toFixed(2) || 0 }}</strong></td>
    </div>
  </div>
</h3>