<h1>Your budget</h1>
<p>Fill this out as best you can.</p>

<%= form_tag budget_create_path, :class => "form-horizontal", role: "form", method: :post do %>
	<%= render partial: "budget_rails_edit" %>

<% end %>