<div ng-app="app">
	<div ng-controller="budgetCtrl" ng-init="init()">
	<h2>Your Monthly Budget</h2>
	<p>Fill this out as best you can. If there are any changes you would like to make, simply click on the number and make them.</p>
		<div>
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#income" aria-controls="income" role="tab" data-toggle="tab">Income</a></li>
		    <li role="presentation"><a href="#debt" aria-controls="debt" role="tab" data-toggle="tab">Debt</a></li>
		    <li role="presentation"><a href="#totals" aria-controls="totals" role="tab" data-toggle="tab">Totals</a></li>
		    <li role="presentation"><a href="#assets" aria-controls="assets" role="tab" data-toggle="tab">Assets</a></li>
		  </ul>
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="income">
		    	<%= render "budget_income" %>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="debt">
		    	<h3>Debts</h3>
					<p>Please keep in mind, these are <strong>monthly</strong> debts. You will be discussing accumulated debt with your counselor soon. If you have a bill (ie. water) that comes every two months, please average it out to one month.</p>
					<%= render "budget_debts" %>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="totals">
					<h3>Your totals</h3>
						<table class="table table-hover">
							<tr>
								<th colspan="2">Your total monthly debt and income</th>
							</tr>
							<tr>
								<td>Gross Monthly Income:</td>
								<td>${{ income.gross_monthly_income || 0 }}</td>
							</tr>
							<tr>
								<td>Total Monthly Debt:</td>
								<td>${{ debt.total_monthly_debt || 0 }}</td>
							</tr>
							<tr>
								<td>Debt to Income Ratio:</td>
								<td>{{ (debt.total_monthly_debt / income.gross_monthly_income).toFixed(2) || 0 }}</td>
							</tr>
						</table>
					</div>
		    <div role="tabpanel" class="tab-pane" id="assets">
					<h3>Now tell us a bit about your assets</h3>
					<p>This is wealth that you have accumulated throughout your life.</p>
					<%= render "budget_assets" %>
		    </div>
		  </div>
		</div>
	</div>
</div>