
<% if !@client.foreclosure.blank? %>
	<button class="btn btn-default-lg"><a class="foreclosure">Foreclosure Application</a></button>
<% end %>
<% if !@client.homebuying.blank? %>
	<button class="btn btn-default-lg"><a class="homebuying">Homebuying Application</a></button>
<% end %>
<% if !@client.rental.blank? %>
	<button class="btn btn-default-lg"><a class="rental">Rental Application</a></button>
<% end %>

