<h2>Hi <%= @client.full_name %>!</h2>
<p>Below is the info we have on file for you. You can edit this form by clicking on the "-" or the info. All info is automatically saved. </p>
<div id="show-profile">


