<h1>Clients#index</h1>

<% if current_client %>
Hi, please continue your application here:
<%= link_to "Edit", "/clients/#{current_client.id}/edit" %>
<h5><%= current_client.first_name %></h5>
<h5><%= current_client.last_name %></h5>
<h5><%= current_client.address %></h5>
<% end %>