<div id="counselor-info">
  <% if @client.has_user? %>
    <h3>Meet your counselor!</h3>
    <%= @client.user_fullname %>
  <% else %>
		<h3>A counselor has not yet been assigned to you. Please allow us around 48 hours to assign someone to you. ¯\_(ツ)_/¯</h3>
		<p>If you have any questions, please shoot our intake specialist an email at: <a href="mailto:intake@lucha.org?Subject=Counseling%20Session" target="_top">Intake@lucha.org</a></p> 
  <% end %>
</div>

