<div id="counselor-info">
  <% if @client.has_user? %>
    <h3>Meet your counselor!</h3>
    <%= @client.user_fullname %>
  <% else %>
		<h2>Thank you for applying for housing counseling services.</h2>
    <h4>A LUCHA representative will review your information and contact you within two business days to set-up an appointment and inform you of your next steps. 
        We look forward to working with you in addressing your housing needs.</h4>
    <h4>- LUCHA Housing Counseling and Advocacy Department</h4> 
		<p><i>If you have any questions, please shoot our intake specialist an email at: <a href="mailto:intake@lucha.org?Subject=Counseling%20Session" target="_top">Intake@lucha.org</a></i></p> 
  <% end %>
</div>

