

<h1>Rental Application:
<br>
  <small>
    Please fill out the info below and one of our property managers will get back to you soon.
  </small>
</h1>
<hr>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Renter Information</h3>
  </div>
  <div class="panel-body">
    <%= form_tag rental_create_path, role: "form", method: :post do %>
      <%= render "form" %>
      <hr>
      <div class="form-group">
        <%= submit_tag "Submit", :class => 'btn btn-large btn-primary' %>
      </div>  
    <% end %>
  </div>
</div>