<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Clients in Foreclosure">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Currently Foreclosed? </Data></Cell>
      </Row>
    <% @foreclosures.each do |product| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= foreclosure.client.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= foreclosure.client.full_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= foreclosure.client.address %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= foreclosure.currently_foreclosed %></Data></Cell>
      </Row>
    <% end %>

    </Table>
  </Worksheet>
</Workbook>
