
.navbar-right .navbar-text {
  margin-bottom: 0px;
  p {
    margin-bottom: 0px;
    margin-left: 15px;
  }
  .btn {
    margin-left: 10px;
    padding: 2px 10px;
  }
}

.navbar {
  background-color: white;
  .navbar-nav .active a {
    border-bottom: 4px solid lighten($brand-accent, 30%);
  }
}

.topbar {

  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: 0px;
  border-bottom: 4px solid lighten($brand-primary, 30%);
  background-color: $brand-primary;

  .navbar-header a {
    color: white;
  }
  span.navbar-text {
    color: lighten($brand-primary, 30%);
    a{
      padding-left: 5px;
    }
    .user-name {
      color:white;
    }
  }
  // Prevent floats from breaking the navbar
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    border-radius: 0px;
  }
}

.navbar-nav
.active
a {
  border-bottom-color: black;
  border-bottom: solid;
}
