table {
  $table-border-color: #E0E0E0;
  font-size: 12px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  margin: 16 0 16*2;
  page-break-inside: avoid;
  break-inside: avoid;

  th,
  td {
    text-align: left;
    padding: 6px 4px;
  }

  th {
    vertical-align: bottom;
    border-bottom: 1px solid darken($table-border-color, 8%);
    font-weight: bold;
  }

  td {
    vertical-align: top;
    border-bottom: 1px solid $table-border-color;
    background-color: #fff;
  }
}