@import "variables.scss";
@import "mixins.scss";

// Global Components

body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken(#fed136, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #eeeeee;
}

.bg-darkest-gray {
    background-color: #222222;
}

// Restyled Primary Buttons

.btn-primary {
    @include button-variant(white, #fed136, #fed136);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, #fed136, #fed136);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}



// Global Section Styles

section {
    padding: 100px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

// Services Section

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: center;
        h2 {
            margin-bottom: 15px;
            font-size: 3em;
        }
        p {
            margin-bottom: 30px;
        }
        p.item-intro {
            margin: 20px 0 30px;
            @include serif-font;
            font-style: italic;
            font-size: 16px;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width:75px;
        height:75px;
        background-color:transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height:75px;
            width:1px;
            margin-left:35px;
            background-color:#222222;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index:1051;
            .rl {
                height:75px;
                width:1px;
                background-color:#222222;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index:1052;
            }            
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: #fed136;
}
