/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require landingpages
 *= require landingpages
 *= require jquery-ui

 *= require_tree .
 *= require_self
 *= require agency
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333333;
  background-color: #EFECEC;
}

.content {
    background: #FDFDFD;
    border-radius: 0px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.devise
.form-horizontal
.form-group {
  margin-left: 0;
  margin-right: 0;
}

.devise {
  margin: auto;
  max-width: 500px;
}

 h2 {
  font-weight: 400;
 }

 h3 {
  font-weight: 300;

 }







.btn-default-lg {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-group-wrap {
    text-align: center;
}

.btn-group {
    margin:center;
    text-align: center;
    width: inherit;
    display: inline-block;
}
