/*body {
  margin: 0;
  // stop text getting cut off on the right edge
  padding: 0 3px 0 0;
  font-size: 18px;
  line-height: 16px;
  color: #222;
  text-rendering: geometricPrecision;
}*/

.clientpdf {
  font-size: 18px;
}

.tablepdf {
  $table-border-color: #E0E0E0;
  font-size: 18px;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
  margin: 16 0 16*2;
  page-break-inside: avoid;
  break-inside: avoid;

  th,
  td {
    text-align: left;
    padding: 6px 4px;
    font-size: 18px;
  }

  th {
    vertical-align: bottom;
    border-bottom: 1px solid darken($table-border-color, 8%);
    font-weight: bold;
    font-size: 18px;
  }

  td {
    vertical-align: top;
    border-bottom: 1px solid $table-border-color;
    background-color: #fff;
    font-size: 18px;
  }
}

.page-break {
  display: block;
  clear: both;
  page-break-after: always;
}

.hide-from-pdf {
  display: none;
}
