  <li class="pure-menu-item"><%= link_to 'Your caseload', employee_index_path %></li>
  <li class="pure-menu-item"><%= link_to 'Foreclosures', "/foreclosures" %></li>
  <li class="pure-menu-item"><%= link_to 'Home Buying', homebuyings_path %></li>
  <li class="pure-menu-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
