<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

    <title>WickedPDF</title>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("agency") %>
    <%= wicked_pdf_javascript_include_tag 'clients' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Montserrat|Roboto+Slab" rel="stylesheet">
    
</head>
<body>

<%= yield %>


</body>
</html>